<router-outlet></router-outlet>

<h1>Listagem de Clientes</h1>

<div>
    <table class="table table-striped">
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Nascimento</th>
            <th class="text-right">
                <a class="btn btn-success" 
                    [routerLink]="['/clientes/new']">
                    Cadastrar
                </a>
            </th>
        </tr>
        <tr *ngFor="let cliente of clientes">
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.idade }}</td>
            <td>{{ cliente.dataNascimento | date:'dd/MM/y' }}</td>
            <td>
				<a class="btn btn-warning" 
                    [routerLink]="['/clientes/'+cliente.id]">
                    Visualizar
                </a>
				<a class="btn btn-info" 
                    [routerLink]="['/clientes/'+cliente.id+'/edit' ]">
                    Editar
                </a>
                <button class="btn btn-danger" (click)="excluir(cliente.id)" >
                    Excluir
                </button>
            </td>
        </tr>
    </table>
</div>