<router-outlet></router-outlet>
<p>
  Visualizar Cliente
</p>

<div class="form-group row">
  <label for="id-input" class="col-2 col-form-label">Código</label>
  <div class="col-10">
    <input class="form-control" type="text" value="{{cliente.id}}" id="id-input" >
  </div>
</div>


<div class="form-group row">
  <label for="id-input" class="col-2 col-form-label">Código</label>
  <div class="col-10">
    <input class="form-control" type="text" value="{{cliente.nome}}" id="id-input" >
  </div>
</div>

<a class="btn btn-primary" role="button" href="/clientes">
  Gravar
</a>