<div class="jumbotron">
  <h1>Sistema Ejur</h1>
  <p>Bem vindo ao Sistema</p>
</div>

<a class="btn btn-primary" role="button" href="/login">
  Login
</a>

<a class="btn btn-primary" role="button" href="/clientes">
  Lista de Clientes
</a>